<ion-content>
  <div style="height:100%; background-color: darkcyan; display: flex; flex-direction: column;">
    <div id="map" style="flex: 1;">

    </div>
    <div style="flex: 1;">
      <div>{{geoCoords.latitude}}</div>
      <div>{{geoCoords.longitude}}</div>
      <div>i={{iMeasure}}</div>
      <hr/>
      <div>{{mapCoords.lat}}</div>
      <div>{{mapCoords.lng}}</div>
      <hr/>
      <div>bearing = {{bearing}}</div>
    </div>

    <ion-button (click)="doMeasureGeo()">refresh</ion-button>

  </div>
</ion-content>