<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button shape="round" (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Target List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-card 
      *ngFor="let target of targetService.arrTarget;  index as pos"
      (click)="navigateTo(pos)">

      <ion-item 
      style="display: flex;">
        <ion-img 
          [src]="(target.arrOrigin.length>0 && target.arrOrigin[0].photoUrl!=='')? 
            target.arrOrigin[0].photoUrl : 
            'assets/surveyor.png'"
          slot="start" 
          style="height:100px; width:100px;">
        </ion-img>
        
        <ion-label style="flex:1;">
          <h2>{{target.title}}</h2>
          <h3>latitude = {{target.latitude}}</h3>
          <h3>longitude = {{target.longitude}}</h3>
          <h3>height = {{target.height}} m</h3>
          
        </ion-label>

        <ion-button shape="round" fill="clear"
          style="font-size: 30px; height:max-content; color:grey;" (click)="onClickRemove(pos)">
          <ion-icon name="close-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>

    </ion-card>

  </ion-list>

  <ion-button shape="round" fill="clear" style="font-size: 50px; height:max-content; position:fixed; bottom:30px; right:10px;"
  (click)="onClickAdd()">
    <ion-icon name="add-circle-outline" ></ion-icon>
  </ion-button>
</ion-content>
