<ion-header>
  <ion-toolbar>
    <ion-title>Target List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <!-- <ion-list-header>
      Recent Conversations
    </ion-list-header> -->
      <ion-card href="target/1">
        <ion-item>
          <ion-img [src]="'assets/img/images (1).jpg'" slot="start" style="height:100px; width:100px;"></ion-img>
          <ion-label>
            <h2>California Dress</h2>
            <h3>(lati, longi) = (34.0494, -118.2641)</h3>
            <h3>height = 24 m </h3>
          </ion-label>
        </ion-item>
      </ion-card>
      <ion-card href="target/2">
        <ion-item>
          <ion-img [src]="'assets/img/images (2).jpg'" slot="start" style="height:100px; width:100px;"></ion-img>
          <ion-label>
            <h2>New York Times</h2>
            <h3>(lati, longi) = (44.0494, -218.2641)</h3>
            <h3>height = 34 m </h3>
          </ion-label>
        </ion-item>
      </ion-card>
      <ion-card href="target/3">
        <ion-item>
          <ion-img [src]="'assets/img/images (3).jpg'" slot="start" style="height:100px; width:100px;"></ion-img>
          <ion-label>
            <h2>Hanoi Tower</h2>
            <h3>(lati, longi) = (24.0494, 18.2641)</h3>
            <h3>height = 124 m </h3>
          </ion-label>
        </ion-item>
      </ion-card>

  </ion-list>
</ion-content>
