<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Target List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-card 
      *ngFor="let target of targetService.arrTarget;  index as pos"
      (click)="navigateTo(pos)">
      <ion-card-content  style="display: flex; border:10px double grey;">
          <ion-img 
            [src]="(target.arrOrigin.length>0 && target.arrOrigin[0].photoUrl!=='')? 
              target.arrOrigin[0].photoUrl : 
              'assets/surveyor.png'"
            slot="start" style="height:100px; width:100px;">
          </ion-img>
          
          <ion-label style="flex:1; padding-left:10px">
            <strong>{{target.title}}</strong>
            <hr/>
            <div *ngIf="target.isMeasured">
              <h3>lat: {{r7(target.latitude)}}</h3>
              <h3>lon: {{r7(target.longitude)}}</h3>
              <h3>height: {{r7(target.height)}} m</h3>
            </div>
          </ion-label>

        <ion-fab vertical="top" horizontal="end" slot="fixed">
          <ion-fab-button size="small" color="light" (click)="onClickRemove(pos)">
            <ion-icon name="close-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-card-content>

    </ion-card>

  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark" (click)="onClickAdd()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="dark" (click)="sendResultEmail()">
      <ion-icon name="send-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
